<p id="notice"><%= notice %></p>

<h1>Publishings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publishings.each do |publishing| %>
      <tr>
        <td><%= publishing.name %></td>
        <td><%= link_to 'Show', publishing %></td>
        <td><%= link_to 'Edit', edit_publishing_path(publishing) %></td>
        <td><%= link_to 'Destroy', publishing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publishing', new_publishing_path %>
<br>
<%= link_to "Home", home_index_path %>